@import "imports";

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes expand {
    0% {
        opacity: 0;
        max-height: 0;
    }
    100% {
        opacity: 1;
        max-height: 2rem;
    }
}

@keyframes expand {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 4rem;
    }
}

ul.tacoList {

    padding: 0;
    margin: auto;

    li.tacoListItem {
        width: 100%;
        list-style: none;
        background: $white2;
        margin: 1rem auto;
        border-radius: .1875rem;
        animation: .5s ease-in 0s 1 fadeInDown;
        transition: background .25s ease-in;

        .flexContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                width: 98%;
                margin: auto;
                padding: .5rem;
                flex: 0;
            }

            .textContainer {
                flex: 1;
                padding: .5rem;

                .tacoTitle {
                    font: 500 1.25rem $oswald;
                    margin: .25rem auto;
                    color: $black3;
                    transition: color .25s ease-in;
                }

                .tacoDescription {
                    margin: .25rem auto;

                }

            }

        }

        ul.operations {
            display: block;
            padding: .25rem 0;
            margin: auto;

            li {
                font-size: .75rem;
                color: $black3;
                cursor: pointer;
                display: inline;
                padding: 0 1rem;

                &:hover { color: #808080 }
            }

            form {
                margin: .5rem auto;
                display: flex;
                overflow: hidden;
                animation: .25s ease-in 0s 1 expand;

                input {
                    margin: 0 .25rem;
                    font-size: 1rem;
                    font-family: $lato;
                    color: $black3;
                }

                input[type="text"] {
                    flex: 1;
                    outline: none;
                    border: none;
                    background: $white3;
                    padding: .5rem;

                    &:focus {
                        background: #d0d0d0;
                    }
                }

                input[type="submit"] {
                    flex: 0;
                    padding: .25rem;
                    border: solid .125rem $black3;
                    background: $white1;
                    outline: none;

                    &:hover {
                        background: $white3;
                        cursor: pointer;
                    }

                    &:active {
                        background: #d0d0d0;
                    }
                }
            }
        }
    }

}

ul.operations {
    padding: 0;
    margin: auto;

    li {
        list-style: none;
        cursor: pointer;
        color: $lightAcc1;

        &:hover { color: $darkAcc1; }
    }
}

@media screen and (min-width: 540px) {

    ul.tacoList {

        li.tacoListItem {

            .flexContainer {
                flex-direction: row;

                img { width: 8rem }

                .textContainer { text-align: left; }

            }

        }

    }

}
