@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:400,500&display=swap');

$black1: #202020;
$black2: #404040;
$black3: #606060;

$white1: #fcfcfc;
$white2: #f0f0f0;
$white3: #e4e4e4;

$lightAcc1: #0DB9B9;
$darkAcc1: #008A8A;

$lightAcc2: #FFB011;
$darkAcc2: #E69900;

$lightAcc3: #FF1111;
$darkAcc3: #E60000;

$oswald: "Oswald", sans-serif;
$lato: "Lato", sans-serif;
